@import "/src/app/styles/global-variables.scss";

.mat-toolbar {
    height: $main-header-height;
    width: 100%;
    background-color: $primary-theme-color-background;
}

.mat-drawer-container {
    min-height: 100vh;
    background-color: $primary-theme-color-background;
}

.mat-drawer {
    width: $main-drawer-width;
    background-color: $primary-theme-color-background;
}