@import '/src/app/styles/global-variables.scss';
.wrapper {
    padding: 0 $page-wrapper-padding-right 0 $page-wrapper-padding-left;
}
.brand{
    height: 100%;
    font-size: 20px;
    padding: 5px;
}