@import '/src/app/styles/styles-theme.scss';

.container-prayer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    width: fit-content;
    padding: 10px;
    background-color:  $primary-theme-color-background-dark;
    border: 1px solid $primary-theme-color-light;
    border-radius: 10px;
}

.wrapper {
    width: 140px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prayer-heading {
    font-size: 30px;
    line-height: 1;
}

.prayer-card {
    border-radius: 10px;
    border: 1px solid $primary-theme-color-background-dark;
    background-color: $primary-theme-color-background;

}

.prayer-active {
    background-color: $primary-theme-color;
    border:unset;
    *{
        color: $primary-theme-color-background;
    }
}

.zawal-card {
    border-radius: 10px;
    border: 1px solid #ef9a9a;
    background-color: #ffcdd2;
}

.active {
    -webkit-box-shadow: 10px 10px 21px -7px rgba(93, 64, 55, 1);
    -moz-box-shadow: 10px 10px 21px -7px rgba(93, 64, 55, 1);
    box-shadow: 10px 10px 21px -7px rgba(93, 64, 55, 1);
}