<div class="container-prayer">
    <ng-container *ngFor="let prayer of prayerService.prayers | filterBoolean:'visible':true">
        <div class="wrapper prayer-card" *ngIf="prayer.type===prayerType.PRAYER">
            <span class="main-title main-text-heading">{{prayer.name}}</span>
            <span class="main-text">{{prayer.startLabel}}</span>
            <span class="main-sub-title">{{prayer.athan}}</span>
            <span class="main-text">{{prayer.endLabel}}</span>
            <span class="main-title main-text-heading">{{prayer.iqamah}}</span>
        </div>
        <div class="wrapper prayer-card zawal-card" *ngIf="prayer.type===prayerType.INTERVAL">
            <span class="main-title main-text-heading">{{prayer.name}}</span>
            <span class="main-text">{{prayer.startLabel}}</span>
            <span class="main-sub-title">{{prayer.start}}</span>
            <span class="main-text">{{prayer.endLabel}}</span>
            <span class="main-title main-text-heading">{{prayer.end}}</span>
        </div>
        <div class="wrapper prayer-card prayer-active" *ngIf="prayer.type===prayerType.JUMUAH">
            <span class="main-text">{{prayer.startLabel}}</span>
            <span class="main-title main-text-heading">{{prayer.athan}}</span>
            <span class="main-text">{{prayer.endLabel}}</span>
            <span class="main-title main-text-heading">{{prayer.iqamah}}</span>
        </div>
    </ng-container>    
</div>