<div class="container-prayer">
        <mat-card class="wrapper">
            <span class="main-title prayer-heading">Fajr</span>
            <span class="main-text">Athan</span>
            <span class="main-sub-title">06:30 AM</span>
            <span class="main-text">Iqamah</span>
            <span class="main-title prayer-heading">06:40 AM</span>
        </mat-card>
    <mat-card class="wrapper zawal">
        <span class="main-title prayer-heading">Zawal</span>
        <span class="main-text">Starts</span>
        <span class="main-sub-title">12:10 PM</span>
        <span class="main-text">Ends</span>
        <span class="main-title prayer-heading">12:25 PM</span>
    </mat-card>
    <mat-card class="wrapper active prayer">
        <span class="main-title prayer-heading">Dhur</span>
        <span class="main-text">Athan</span>
        <span class="main-sub-title">12:40 PM</span>
        <span class="main-text">Iqamah</span>
        <span class="main-title prayer-heading">12:50 PM</span>
    </mat-card>
    <mat-card class="wrapper">
        <span class="main-title prayer-heading">Asr</span>
        <span class="main-text">Athan</span>
        <span class="main-sub-title">02:30 PM</span>
        <span class="main-text">Iqamah</span>
        <span class="main-title prayer-heading">02:35 PM</span>
    </mat-card>
    <mat-card class="wrapper">
        <span class="main-title prayer-heading">Maghrib</span>
        <span class="main-text">Athan</span>
        <span class="main-sub-title">04:47 PM</span>
        <span class="main-text">Iqamah</span>
        <span class="main-title prayer-heading">04:47 PM</span>
    </mat-card>
    <mat-card class="wrapper">
        <span class="main-title prayer-heading">Isha</span>
        <span class="main-text">Athan</span>
        <span class="main-sub-title">07:30 PM</span>
        <span class="main-text">Iqamah</span>
        <span class="main-title prayer-heading">07:40 PM</span>
    </mat-card>
</div>
