<div class="container-prayer">
    <div class="wrapper prayer-card">
        <span class="main-title prayer-heading">Fajr</span>
        <span class="main-text">Athan</span>
        <span class="main-sub-title">06:30 AM</span>
        <span class="main-text">Iqamah</span>
        <span class="main-title prayer-heading">06:40 AM</span>
    </div>
    <div class="wrapper zawal-card">
        <span class="main-title prayer-heading">Zawal</span>
        <span class="main-text">Starts</span>
        <span class="main-sub-title">12:10 PM</span>
        <span class="main-text">Ends</span>
        <span class="main-title prayer-heading">12:25 PM</span>
    </div>
    <div class="wrapper active prayer-card prayer-active">
        <span class="main-title prayer-heading">Dhur</span>
        <span class="main-text">Athan</span>
        <span class="main-sub-title">12:40 PM</span>
        <span class="main-text">Iqamah</span>
        <span class="main-title prayer-heading">12:50 PM</span>
    </div>
    <div class="wrapper prayer-card">
        <span class="main-title prayer-heading">Asr</span>
        <span class="main-text">Athan</span>
        <span class="main-sub-title">02:30 PM</span>
        <span class="main-text">Iqamah</span>
        <span class="main-title prayer-heading">02:35 PM</span>
    </div>
    <div class="wrapper prayer-card">
        <span class="main-title prayer-heading">Maghrib</span>
        <span class="main-text">Athan</span>
        <span class="main-sub-title">04:47 PM</span>
        <span class="main-text">Iqamah</span>
        <span class="main-title prayer-heading">04:47 PM</span>
    </div>
    <div class="wrapper prayer-card">
        <span class="main-title prayer-heading">Isha</span>
        <span class="main-text">Athan</span>
        <span class="main-sub-title">07:30 PM</span>
        <span class="main-text">Iqamah</span>
        <span class="main-title prayer-heading">07:40 PM</span>
    </div>
</div>