<div class="flex-column-center align-center">
    <span class="main-title mt-3">To view Salat/Iqamah timings of local nearby mosques, visit:</span>
    <span class="main-title mb-3">www.awqat.net</span>
    <!-- <span class="main-title mt-3">Fraserview Muslim Community Services</span> -->
    <!-- <span class="main-sub-title">6436 Fraser St., Vancouver, BC, Canada V5W 3A6</span> -->
    <div class="flex-row-around mb-3">
        <div class="flex-column-center">
            <span class="main-sub-title"> <mat-icon class="material-icons-outlined" color="primary">call</mat-icon>+1 (604) 780-9121</span>
            <span class="main-sub-title"> <mat-icon class="material-icons-outlined" color="primary">mail</mat-icon>fmcs786@gmail.com</span>
        </div>
        <div class="flex-column-center">
            <span class="main-title sponsor"><u>www.thefmcs.ca</u></span>
            <span class="main-title">Powered by: AlephLab.ca</span>
        </div>
        <div class="flex-column-center">
            <span class="main-sub-title"><mat-icon class="material-icons-outlined" color="primary">location_on</mat-icon>6436 Fraser St., Vancouver</span>
            <span class="main-sub-title">BC, Canada V5W 3A6</span>
        </div>
    </div>

</div>