<div class="prayer-header" *ngIf="showHeader">
    <button mat-button color="primary" aria-label="Home" routerLink="['home']" style="width: fit-content;">
        <span class="main-title title">Fraserview Muslim Community Services</span>
    </button>
</div>
<div class="flex-column-center mt-3">
    <div class="flex-row-center">
        <img src="/../assets/images/png/fmcs.png" class="img-fluid" alt="brand-img"
            style="height: 100px;width: 88px;">
           
        <img src="/../assets/images/svg/bismillah.svg" class="img-fluid brand" alt="brand">
        <!-- <img src="/../assets/images/png/fmcs.png" class="img-fluid" alt="brand-img"
            style="height: 100px; padding-bottom: 10px;"> -->
    </div>
    <span class="main-title time" *ngIf="showHeader">{{formattedTime}}</span>
    <span class="main-title" *ngIf="!hideDate">{{formattedDate}}</span>
</div>