<div class="donation-container">
    <div class="wrapper pt-3">
        <tap-heading></tap-heading>
        <span class="main-sub-title align-center quote text-italic">Prophet MUHAMMAD ﷺ said: “ALLAH said: ‘Spend, O Son
            of ADAM, and I shall Spend on YOU.’”</span>
        <div class="btn-wrapper">
            <button mat-raised-button color="primary" class="btn-main mt-3"><mat-icon>credit_card</mat-icon>Credit
                Card</button>
            <button mat-stroked-button color="primary"
                class="btn-main mt-3"><mat-icon>account_balance</mat-icon>Paypal</button>
        </div>
        <div class="card mat-elevation-z6 my-3">
            <mat-card>
                <mat-card-content>
                    <p class="main-text">We are very grateful for all donations made to Fraserview Muslim Community
                        Services.</p>
                    <div class="separator mb-3" aria-hidden="true"></div>
                    <p class="main-text">Please become regular monthly donor for this centre as we only depend on your
                        donations for all of our activities.</p>
                    <div class="separator  mb-3" aria-hidden="true"></div>
                    <p class="main-text">Please donate generously as this ensures that the mosque is maintained
                        properly and the Muslim community benefits from these facilities.</p>
                    <div class="separator  mb-3" aria-hidden="true"></div>
                    <p class="main-text">Please Note that All Donations are <b>Tax Deductible</b>. A Tax Receipt will
                        be issued as soon as donation is received.</p>
                    <div class="separator  mb-3" aria-hidden="true"></div>
                    <p class="main-text">May God reward you for all your good deeds. Jazakum Allah Khair.</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <tap-footer-copyright></tap-footer-copyright>
</div>