@import '/src/app/styles/global-variables.scss';
.wrapper{
    padding: 10px $page-wrapper-padding-right 0 $page-wrapper-padding-left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}