@import '/src/app/styles/global-variables.scss';
.hero-container{
    display: flex;
    padding: 1rem $page-wrapper-padding-right 0 $page-wrapper-padding-left;
    justify-content: center;
}
.wrapper{    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: $max-wrapper-width;
}