<div class="prayer-header">
    <button mat-button color="primary" aria-label="Home" routerLink="['home']" style="width: fit-content;"> 
        <img
        src="/../assets/images/png/fmcs.png" class="img-fluid" alt="brand" style="height: 48px; padding-bottom: 10px;">
        <span class="main-title title">Fraserview Muslim Community Services</span>
        </button>   
</div>

<div class="prayer-wrapper">
    <div class="flex-column-center">
        <img src="/../assets/images/svg/bismillah.svg" class="img-fluid brand" alt="brand">
        <span class="main-title timer">{{time}}</span>
        <span class="main-title title">{{date}}</span>
    </div>
    <!-- <tap-footer-copyright></tap-footer-copyright> -->
</div>

<div class="flex-row-center">
    <div class="wrapper card">
        <span class="main-title">Fajr</span>
        <span class="body-text">Athan</span>
        <span class="main-sub-title">06:30 AM</span>
        <span class="body-text">Iqamah</span>
        <span class="main-title">06:40 AM</span>
    </div>
    <div class="wrapper card zawal">
        <span class="main-title">Zawal</span>
        <span class="main-title">12:15 PM</span>
        <span class="body-text">to</span>
        <span class="main-title">12:13 PM</span>
    </div>
    <div class="wrapper card">
        <span class="main-title">Dhur</span>
        <span class="body-text">Athan</span>
        <span class="main-sub-title">12:40 PM</span>
        <span class="body-text">Iqamah</span>
        <span class="main-title">12:50 PM</span>
    </div>
    <div class="wrapper card">
        <span class="main-title">Asr</span>
        <span class="body-text">Athan</span>
        <span class="main-sub-title">02:30 PM</span>
        <span class="body-text">Iqamah</span>
        <span class="main-title">02:40 PM</span>
    </div>
    <div class="wrapper card active">
        <span class="main-title">Maghrib</span>
        <span class="body-text">Athan</span>
        <span class="main-sub-title">04:47 PM</span>
        <span class="body-text">Iqamah</span>
        <span class="main-title">04:47 PM</span>
    </div>
    <div class="wrapper card">
        <span class="main-title">Isha</span>
        <span class="body-text">Athan</span>
        <span class="main-sub-title">07:30 PM</span>
        <span class="body-text">Iqamah</span>
        <span class="main-title">07:40 PM</span>
    </div>
</div>