<div class="flex-column pb-1">
    <div class="icon-label">
        <span><mat-icon class="material-icons-outlined" color="primary" aria-hidden="true">location_on</mat-icon></span>
        <a target="_blank" rel="noopener noreferrer" title="Location"
            href="https://www.google.com/maps/dir//Fraserview+Muslim+Community+Services+6436+Fraser+St+Vancouver,+BC+V5W+3A6/@49.2261272,-123.0905443,14z/data=!4m5!4m4!1m0!1m2!1m1!1s0x548674154a882ced:0x7df2309f17ba710d"
            class="body-text pt-1"><span class="external-link">6436 Fraser St., Vancouver, V5W3A6</span></a>
    </div>
    <div class="icon-label">
        <mat-icon class="material-icons-outlined" color="primary">call</mat-icon>
        <a href="tel:+16047809121" class="body-text pt-1" title="Phone">
            <span class="external-link"> +1 (604) 780-9121</span>
        </a>
    </div>
    <div class="icon-label">
        <mat-icon class=" material-icons-outlined" color="primary">mail</mat-icon>
        <a href="mailto:fmcs786@gmail.com" class="body-text pt-1"><span class="external-link">fmcs786@gmail.com</span>
        </a>
    </div>