<div class="prayer-grid-container">
    <div class="prayer-wrapper">
        <div class="prayer-grid-wrapper" style="background-color: unset;">
            <span class="prayer-name main-title"></span>
            <span class="prayer-time main-title align-center">Adhan</span>
            <span class="prayer-time main-title align-center">Iqamah</span>
        </div>
        <div class="separator"></div>
        <ng-container *ngFor="let prayer of prayerService.prayers | filterBoolean:'visible':true">
            <div class="prayer-grid-wrapper" [class.isActive]="prayer.isActive" *ngIf="prayer.type===prayerType.PRAYER">
                <span class="prayer-name main-title">{{prayer.name}}</span>
                <span class="prayer-time main-title align-center">{{prayer.athan}}</span>
                <span class="prayer-time main-title align-center">{{prayer.iqamah}}</span>
            </div>
            <div class="interval-grid-wrapper" *ngIf="prayer.type===prayerType.INTERVAL"
                [class.isActiveWarn]="prayer.isActive">
                <span class="interval-name main-title">{{prayer.name}}</span>
                <div class="prayer-time-container">
                    <span class="interval-time main-sub-title align-center">{{prayer.start}}</span>
                    <span class="body-text interval-label align-center">{{prayer.startLabel}}</span>
                </div>
                <div class="prayer-time-container">
                    <span class="interval-time main-sub-title align-center">{{prayer.end}}</span>
                    <span class="body-text interval-label align-center">{{prayer.endLabel}}</span>
                </div>
            </div>
            <div class="prayer-grid-wrapper" *ngIf="prayer.type===prayerType.JUMUAH">
                <span class="prayer-name main-title">{{prayer.name}}</span>
                <div class="prayer-time-container">
                    <span class="prayer-time main-sub-title align-center prayer-time-jumuah">{{prayer.athan}}</span>
                    <span class="body-text prayer-label align-center">{{prayer.startLabel}}</span>
                </div>
                <div class="prayer-time-container">
                    <span class="prayer-time main-sub-title align-center prayer-time-jumuah">{{prayer.iqamah}}</span>
                    <span class="body-text prayer-label align-center">{{prayer.endLabel}}</span>
                </div>
            </div>
        </ng-container>
    </div>

</div>